@charset "utf-8";
/* ============================= [태그 초기화] ============================= */
*{-webkit-text-size-adjust:none;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0;-webkit-text-size-adjust:none;}
body,input,textarea,select,table,button{font-size:14px;line-height:1.4;font-family:'NotoSans',나눔바른고딕,dotum,'돋움',"맑은 고딕","Malgun Gothic","MS PGothic","Osaka",Arial,sans-serif;}
body{position:relative;color:#7d7d7d; word-wrap:break-word;word-break:break-all;}
table {width:100%; table-layout:fixed; border-collapse:collapse;}
img,fieldset{border:none;}
img {width:100%; max-width:100%;}
ul,ol{list-style:none}
a{color:#000;text-decoration:none;cursor:pointer}
button {cursor:pointer;}
strong {}
em,address{font-style:normal}
th, td {word-break:break-all;}
label {vertical-align:middle;}
@font-face {
font-family: 'NotoSans';
src: url(/common/font/NotoSans.eot);
src: url(/common/font/NotoSans.eot?#iefix) format('embedded-opentype'),
	url(/common/font/NotoSans.woff) format('woff'),
	url(/common/font/NotoSans.ttf) format('truetype');
}

/* ============================= [기타] ============================= */
/* margin padding */
.mgt0{margin-top:0 !important;}
.pat0{padding-top:0 !important;}
.mgt5{margin-top:5px !important;}
.mgt7{margin-top:7px !important;}
.mgt10{margin-top:10px;}
.mgt11{margin-top:11px;}
.mgt15{margin-top:15px !important;}
.mgt20 {margin-top:20px !important;}
.mgt29{margin-top:29px !important;}
.mgt30{margin-top:30px !important;}
.mgt37{margin-top:37px !important;}
.mgt40{margin-top:40px !important;}
.mgt50{margin-top:50px !important;}
.mgt60{margin-top:60px !important;}
.mgt70{margin-top:70px !important;}
.mgt80{margin-top:80px !important;}
.mgt90{margin-top:90px !important;}
.mgt100{margin-top:100px !important;}
.mgt110{margin-top:110px !important;}
.mgt120{margin-top:120px !important;}
.mgb0{margin-bottom:0 !important;}
.mgb5{margin-bottom:5px;}
.mgb6{margin-bottom:6px;}
.mgb7{margin-bottom:7px;}
.mgb8{margin-bottom:8px;}
.mgb9{margin-bottom:9px;}
.mgb10{margin-bottom:10px;}
.mgb11{margin-bottom:11px;}
.mgb12{margin-bottom:12px;}
.mgb13{margin-bottom:13px;}
.mgb14{margin-bottom:14px;}
.mgb15{margin-bottom:15px;}
.mgb16{margin-bottom:16px;}
.mgb17{margin-bottom:17px;}
.mgb18{margin-bottom:18px;}
.mgb19{margin-bottom:19px;}
.mgb20{margin-bottom:20px !important;}
.mgb21{margin-bottom:21px;}
.mgb22{margin-bottom:22px;}
.mgb23{margin-bottom:23px;}
.mgb24{margin-bottom:24px;}
.mgb25{margin-bottom:25px;}
.mgb26{margin-bottom:26px;}
.mgb27{margin-bottom:27px;}
.mgb28{margin-bottom:28px;}
.mgb29{margin-bottom:29px;}
.mgb30{margin-bottom:30px;}
.mgb40{margin-bottom:40px;}
.mgb50{margin-bottom:50px;}
.mgl3{margin-left:3px}
.mgl20{margin-left:20px}
.mgl35{margin-left:35px}
.mgl10{margin-left:10px}
.mgr10{margin-right:10px}
.mgr20{margin-right:20px}
.mgr22{margin-right:22px}
.pdb30{padding-bottom:30px;}
.pdb40{padding-bottom:40px;}

/* display */
.hidden, legend, caption {overflow:hidden;visibility:hidden;width:0;height:0;font-size:0;line-height:0;}

/* align */
.alignL{text-align:left;}
.alignR{text-align:right;}
.alignC{text-align:center;}
.hAlignT{vertical-align:top !important;}
.hAlignM{vertical-align:middle !important;}
.hAlignB{vertical-align:bottom !important;}
.floatL{float:left;}
.floatR{float:right;}
.floatN{float:none !important;}

/* 폰트관련 */
.ft_red {color:#eb5855;}
.tx_green {color:#729632 !important;}

/* bg */
.bgnone {background:none !important;}
/* 서식 */
span.select {display:inline-block; height:35px; vertical-align:middle; border-radius:5px; box-shadow:1px 1px 0 0 #d1d1d1; background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#efefef));}
span.select select {-webkit-appearance:none; width:100%; height:35px; vertical-align:middle; text-indent:3px; line-height:35px; font-size:12px; color:#222222; border:1px solid #c5c5c5; border-radius:5px; background:url(/m/images/common/BG_selectbox.png) no-repeat right center; background-size:30px;}
span.input-text {display:inline-block; height:33px; vertical-align:middle; border:1px solid #c5c5c5; border-radius:5px; box-shadow:inset 1px 1px 0 0 #d1d1d1;}
span.input-text input {-webkit-appearance:none; width:100%; height:33px; vertical-align:middle; text-indent:10px; line-height:33px; font-size:12px; color:#222222; border:none; border-radius:5px; background:none;}
input.input-check {width:14px; height:14px; margin:0; padding:0; vertical-align:middle; cursor:pointer; border-radius:0; border:1px solid #cccccc; background:none;}
span.textarea {display:inline-block; vertical-align:middle; border:1px solid #b5b5b5;}
span.textarea textarea {width:100%; height:100%; border:none;}
button, textarea {border-radius:0; background:#ffffff;}
.label {display:inline-block; vertical-align:middle;}
input.input-radio {/*-webkit-appearance:none;*/ width:16px; height:16px; vertical-align:middle;}

/* 버튼 */
.btnArea {margin-top:25px; text-align:center;}
.btnArea.al_r {text-align:right;}
.btnArea.al_r img {width:auto;}
.btnType1 {display:inline-block; height:32px; width:107px; text-align:center; line-height:32px; font-size:13px; color:#ffffff !important; background:#275975;}
.btnType2 {display:inline-block; height:32px; width:107px; text-align:center; line-height:32px; font-size:13px; color:#ffffff !important; background:#6b6b6b;}
.btnType3 {display:inline-block; height:32px; width:107px; text-align:center; line-height:32px; font-size:13px; color:#ffffff !important; background:#01add8;}
.btnType4 {display:inline-block; height:32px; width:107px; text-align:center; line-height:32px; font-size:13px; color:#ffffff !important; background:#bcb5b5;}
.btnType5 {display:inline-block; padding:5px 10px; font-size:13px; color:#ffffff !important; background:#6b6b6b;}
.btnType6 {display:inline-block; padding:5px 10px; font-size:13px; color:#ffffff !important; background:#275975;}
@media screen and (max-width: 1280px){
.btnType1, .btnType2, .btnType3, .btnType4 {width:80px;}
}


/* ============================= [공통레이아웃] ============================= */
#wrap {max-width:1024px; min-width:320px; margin:0 auto; position:relative; overflow:hidden;}

#header {position:relative; z-index:98; border-bottom:1px solid #f09d19;}
#header .headerTop {overflow:hidden; line-height:0; text-align:center; position:relative;}
#header .headerTop .inner {position:relative; height:105px;}
#header .headerTop .logo {display:inline-block;}
#header .headerTop .logo img {width:auto; height:105px;}
#header .headerTop .btnAllMenu {position:absolute; top:0; left:0;}
#header .headerTop .btnCall {position:absolute; top:0; right:0; border-left:1px solid #f09d19;}
#header .headerTop .btnAllMenu img, #header .headerTop .btnCall img {height:105px; width:auto;}

#wrap .centerSection {overflow:hidden; position:relative; left:0; width:100%; -webkit-transition:0.4s;}
#wrap .sideMenuBack {display:none; position:absolute; left:0; top:0; width:100%; height:100%; cursor:pointer; z-index:99;}
#wrap #sideMenuSection {overflow:hidden; position:absolute; left:-100%; top:0; z-index:100; -webkit-transition:0.4s;}
#wrap.sideMenuOpen .sideMenuBack {display:block;}
#wrap.sideMenuOpen .centerSection {-webkit-transform:translateX(80%);}
#wrap.sideMenuOpen #sideMenuSection {-webkit-transform:translateX(0); left:0;}
#wrap #quickMenuSection {overflow:hidden; position:absolute; right:-100%; top:0; width:90%; z-index:100; -webkit-transition:0.4s;}
#wrap.quickMenuOpen {background:#ffffff;}
#wrap.quickMenuOpen .sideMenuBack {display:block; margin-top:60px;}
#wrap.quickMenuOpen #quickMenuSection {-webkit-transform:translateX(0); right:0;}

@media only screen and (max-width:800px) {
#header .headerTop .inner, #header .headerTop .logo img, #header .headerTop .btnAllMenu img, #header .headerTop .btnCall img {height:80px;}
}
@media only screen and (max-width:600px) {
#header .headerTop .inner, #header .headerTop .logo img, #header .headerTop .btnAllMenu img, #header .headerTop .btnCall img {height:70px;}
}
@media only screen and (max-width:414px) {
#header .headerTop .inner, #header .headerTop .logo img, #header .headerTop .btnAllMenu img, #header .headerTop .btnCall img {height:60px;}
}
@media only screen and (max-width:320px) {
#header .headerTop .inner, #header .headerTop .logo img, #header .headerTop .btnAllMenu img, #header .headerTop .btnCall img {height:50px;}
}


#sideMenuSection {width:80%; height:100%; background:#fff; z-index:999;}
#sideMenuSection > p {height:105px; border-bottom:1px solid #fff; position:relative; overflow:hidden; background:#f09d19;}
#sideMenuSection > p .logo img {float:left; width:auto; height:105px; margin-left:40px;}
#sideMenuSection > p a img {float:right; width:auto; height:105px;}
#sideMenuSection .sideMenuClose {position:absolute; top:0; left:40px; padding:30px 0; margin-top:6px;}
#sideMenuSection .sideMenuClose img {height:50px;}
#sideMenuSection .sideMenuList {float:right; position:relative; width:100%; min-height:100%;}
#sideMenuSection .sideMenuList .cate {border-bottom:1px solid #c2c2c2;}
#sideMenuSection .sideMenuList .cate strong {font-size:36px; font-weight:normal;}
#sideMenuSection .sideMenuList .cate strong a {display:block; color:#4f4f4f; background:url(/m/images/layout/menuClose.png) 95% center no-repeat; background-size:20px; padding:25px 0 25px 40px;}
#sideMenuSection .sideMenuList .cate:nth-of-type(5) strong a {background:none!important;}
#sideMenuSection .sideMenuList .cateUtil {overflow:hidden; height:50px;}
#sideMenuSection .sideMenuList .cateUtil ul {float:left; width:100%; padding-top:20px;}
#sideMenuSection .sideMenuList .cateUtil ul li {float:left; height:11px; margin-right:9px; padding-right:9px;}
#sideMenuSection .sideMenuList .cateUtil ul li a {display:block; position:relative; top:-1px; line-height:12px; font-size:11px; color:#71828f; letter-spacing:-1px;}
#sideMenuSection .sideMenuList .cateUtil ul li:last-of-type {margin-right:0; padding-right:0; border:none;}
#sideMenuSection .sideMenuList .cate ul {display:none; background:#e5e5e5; border-top:1px solid #c2c2c2;}
#sideMenuSection .sideMenuList .cate ul li {border-bottom:1px solid #c2c2c2;}
#sideMenuSection .sideMenuList .cate ul li:last-child {border-bottom:0;}
#sideMenuSection .sideMenuList .cate ul li a {display:block; font-size:24px; color:#4f4f4f; padding:15px 0 15px 65px; background:url(/m/images/common/bulletType1.gif) 40px center no-repeat;}
#sideMenuSection .sideMenuList .cate ul li a span {display:block; background-size:2px;}
#sideMenuSection .sideMenuList .cate.on {}
#sideMenuSection .sideMenuList .cate.on strong {color:#94bbff;}
#sideMenuSection .sideMenuList .cate.on strong a {background:url(/m/images/layout/menuOpen.png) 95% center no-repeat; background-size:20px;}
#sideMenuSection .sideMenuList .cate.on ul {display:block;}

@media only screen and (max-width:800px) {
#sideMenuSection > p, #sideMenuSection > p .logo img, #sideMenuSection > p a img {height:80px;}
#sideMenuSection .sideMenuList .cate strong a {padding:20px 0 20px 30px; font-size:24px;}
#sideMenuSection .sideMenuList .cate ul li a {font-size:20px;}
}
@media only screen and (max-width:600px) {
#sideMenuSection > p, #sideMenuSection > p .logo img, #sideMenuSection > p a img {height:70px;}
#sideMenuSection .sideMenuList .cate strong a {padding:15px 0 15px 20px; font-size:20px;}
#sideMenuSection .sideMenuList .cate ul li a {font-size:16px; padding:12px 0 12px 40px; background-position-x:20px; background-size:10px auto!important;}
}
@media only screen and (max-width:414px) {
#sideMenuSection > p, #sideMenuSection > p .logo img, #sideMenuSection > p a img {height:60px;}
#sideMenuSection .sideMenuList .cate strong a {padding:12px 0 12px 20px; font-size:16px; background-size:12px!important;}
#sideMenuSection .sideMenuList .cate ul li a {font-size:14px; padding:8px 0 8px 35px; background-position-x:20px; background-size:6px auto!important;}
}
@media only screen and (max-width:320px) {
#sideMenuSection > p, #sideMenuSection > p .logo img, #sideMenuSection > p a img {height:50px;}
}


#footer {background:#373738; padding:30px 0;}
#footer li {overflow:hidden; padding-left:20px; font-size:18px; color:#888;}
#footer li span {display:inline-block; float:left;}
#footer li span.bar {padding:0 12px;}
#footer li:nth-of-type(2) span {float:none;}
@media only screen and (max-width:414px) {
#footer li {font-size:14px;}
}
@media only screen and (max-width:414px) {
#footer {padding:20px 0;}
#footer li {font-size:12px;}
}



.pageTitle {text-align:center; margin:30px auto; color:#666; font-weight:bold;}
.pageTitle h2 {font-size:30px; color:#333; margin-bottom:10px;}
.pageTitle .desc span {display:inline-block;}







/* ============================= [메인] ============================= */
.main_wrap {}
.main_wrap #container {background:#e7e7e7;}

/* 메인배너 */
.mainVisual {position:relative; margin:0 auto; line-height:0; font-size:0; overflow:hidden;}
.mainVisual .paging_navi {position:absolute; left:50%; top:75%; width:145px; margin-left:-72px; text-align:center; line-height:0; font-size:0; z-index:999;}
.mainVisual .paging_navi span {display:inline-block; width:25px; height:2px; background:#fff; float:left; margin-right:0.3%; background-size:80% auto!important; float:left; margin-right:5px; margin-top:2px;}
.mainVisual .paging_navi span:last-child {margin-right:0;}
.mainVisual .paging_navi span.swiper-pagination-bullet-active {padding-top:2px; margin-top:0;}

.mainTab {position:absolute; bottom:0; left:0; width:100%;}
.mainTab .swiper-slide a {display:block; padding:20px 0; background:rgba(0,0,0,0.5); box-sizing:border-box; border:1px solid; border-color:rgba(255,255,255,0.4);}
.mainTab .swiper-button-prev {left:0; background:url(/m/images/main/mainTabBtnL.png) center no-repeat;}
.mainTab .swiper-button-next {right:0; background:url(/m/images/main/mainTabBtnR.png) center no-repeat;}
.mainTab .swiper-button-prev,.mainTab .swiper-button-next {position:absolute; top:0; z-index:99999; width:30px; height:100%; text-align:center;}
@media only screen and (max-width:414px) {
.mainTab .swiper-slide a {padding:10px 0;}
.mainTab .swiper-button-prev,.mainTab .swiper-button-next {background-size:auto 20px!important;}
}


.mainBanner {overflow:hidden;}
.mainBanner a {float:left; width:50%; line-height:0;}
.mainBanner a:first-child {width:100%;}










/* ============================= [서브] ============================= */
.sub_wrap {}

#content {margin:0 auto;}


.subTab {background:#4e3d2e;}
.subTab > a {display:block; padding:12px 70px 12px 0; font-size:24px; color:#fff; background:url(/m/images/layout/subTabArr.png) right 20px center no-repeat; text-align:right;}
.subTab > a:hover,.subTab > a.on {background:url(/m/images/layout/subTabArr_on.png) right 20px center no-repeat;}
.subTab p {overflow:hidden; display:none;}
.subTab p a {float:left; font-size:18px; padding:21px 0; text-align:center; box-sizing:border-box; border-right:1px solid #4e3d2e; background:#34291f; color:#fff; line-height:1em; white-space:nowrap;}
.subTab p a:last-child {border-right:1px solid #34291f;}
.subTab p a.line2 {padding:12px 0;}
.subTab p a span {display:block;}
.subTab .btn3 a {width:33%;}
.subTab .btn4 a {width:25%;}
.subTab .btn4 a:nth-last-of-type(-n+4) {border-top:1px solid #4e3d2e;}
.subTab .btn5 a {width:20%;}
.subTab .btn5 a:nth-last-of-type(-n+5) {border-top:1px solid #4e3d2e;}

@media only screen and (max-width:600px) {
.subTab > a {font-size:20px; padding:12px 45px 12px 0; background-size:20px auto!important; background-position:right 15px center!important;}
.subTab p a {font-size:16px; padding:20px 0;}
}
@media only screen and (max-width:414px) {
.subTab > a {font-size:16px;}
.subTab p a {font-size:12px; padding:15px 0;}
.subTab p a.line2 {padding:9px 0;}
}
@media only screen and (max-width:320px) {
.subTab > a {font-size:14px;}
.subTab p a {font-size:11px; padding:14px 0 15px;}
}

















/* ============================= [컨텐츠 공통] ============================= */
/* 버튼 */
.btnArea {margin-top:20px; text-align:center;}
.btnArea.al_r {padding-right:10px; text-align:right;}


/* 탭 */
.tabType {overflow:hidden;}
.tabType li {float:left; text-align:center; line-height:0; font-size:0;}
.tabType li a {display:block; overflow:hidden; height:22px; margin:0 1px; border:1px solid #d1d1d1; border-top:none; border-radius:0 0 5px 5px; background:#ebebeb;}
.tabType li a img {height:100%;}
.tabType li.on a {padding-bottom:1px; border-color:#6c89d2; background:url(/m/images/common/BG_cateTabOn.gif) repeat center top; background-size:2px;}
.tabType li:first-of-type a {margin-left:0;}
.tabType li:last-of-type a {margin-right:0;}
.tabType.tabChild2 li {width:50%;}
.tabType.tabChild3 li {width:33%;}
.tabType.tabChild3 li:nth-of-type(2) {width:34%;}
.tabType.tabChild4 li {width:25%;}
.tabType.tabChild5 li {width:20%;}

/* 게시판리스트 */
.bbsList {margin:30px 10px 0;}
.bbsList img {width:auto;}
.bbsList thead {background:#275975;}
.bbsList thead th {background:url(/m/images/common/bar_1x29_7ca800.gif) right center no-repeat; font-size:16px; color:#ffffff; padding:18px 0;}
.bbsList thead th.subject {letter-spacing:1.5em;}
.bbsList tbody th {font-size:16px; color:#434343; padding:10px 0; border-bottom:1px solid #dedede; font-weight:normal;}
.bbsList tbody td {font-size:16px; color:#434343; padding:10px 0; border-bottom:1px solid #dedede; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.bbsList tbody td.subject {text-align:left;}
.bbsList tbody td.subject a {display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.bbsList tbody td.subject img {margin-left:5px;}
.bbsList tbody td .answering {display:block; line-height:1.5em; font-family:'NanumGothic','나눔고딕',dotum,Gulim,sans-serif; color:#ffffff; background:#888; padding:5px 0;}
.bbsList tbody td .answered {display:block; line-height:1.5em; font-family:'NanumGothic','나눔고딕',dotum,Gulim,sans-serif; color:#ffffff; background:#275975; padding:5px 0;}

.bbsList.counsel tbody td.subject a {display:inline-block; max-width:85%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; float:left;}

.bbsList.community thead th:nth-of-type(1) {width:10%;}
.bbsList.community thead th:nth-of-type(2) {width:50%;}
.bbsList.community thead th:nth-of-type(3) {width:10%;}
.bbsList.community thead th:nth-of-type(4) {width:15%;}

.bbsList.review thead th:nth-of-type(1) {width:10%;}
.bbsList.review thead th:nth-of-type(2) {width:40%;}
.bbsList.review thead th:nth-of-type(3) {width:20%;}
.bbsList.review thead th:nth-of-type(4) {width:20%;}
.bbsList.review thead th:nth-of-type(5) {width:10%;}

@media only screen and (max-width:600px) {
.bbsList thead th {background:url(/m/images/common/bar_1x19_7ca800.gif) right center no-repeat;}
.bbsList thead th, .bbsList tbody td {font-size:14px;}
.bbsList.community thead th:nth-of-type(1) {width:10%;}
.bbsList.community thead th:nth-of-type(2) {width:40%;}
.bbsList.community thead th:nth-of-type(3) {width:20%;}
.bbsList.community thead th:nth-of-type(4) {width:15%;}
}
@media only screen and (max-width:414px) {
.bbsList thead th {font-size:12px; padding:10px 0;}
.bbsList tbody th, .bbsList tbody td {font-size:12px;}
}

/* 검색 */
.searchArea {zoom:1; margin:30px 10px 0;}
.searchArea:after {content:''; display:block; clear:both;}
.searchArea .searchForm {float:left; border:2px solid #90AF3C;}
.searchArea .searchForm .searchSel {float:left; position:relative; width:90px;}
.searchArea .searchForm .searchSel .title {}
.searchArea .searchForm .searchSel .title a {display:block; height:19px; padding:8px 10px 4px 7px; color:#bbb8b8; background:url(/m/images/common/arr_searchSel.gif) no-repeat right center;}
.searchArea .searchForm .searchSel .list {display:none; position:absolute; left:-2px; top:27px; width:100%; border:2px solid #90AF3C; border-top:none; background:#ffffff;}
.searchArea .searchForm .searchSel .list li {}
.searchArea .searchForm .searchSel .list li a {display:block; padding:5px 10px 5px 7px; color:#bbb8b8;}
.searchArea .searchForm .searchSel .list li a:hover {}
.searchArea .searchForm .searchWord {float:left; width:145px;}
.searchArea .searchForm .searchWord .input-word {width:100%; height:27px; line-height:27px; border:none; background:#ffffff;}
.searchArea .searchForm .btnSearch {float:left; width:55px; height:31px; text-align:center; line-height:31px; font-size:13px; color:#ffffff; background:#90AF3C;}
@media only screen and (max-width:414px) {
.searchArea .searchForm .searchWord {width:90px;}
}


/* 게시판뷰 */
.bbsView {margin:30px 10px 0;}
.bbsView table {border-top:4px solid #275975;}
.bbsView thead th {font-size:16px; color:#404040; padding:10px 0; border-bottom:1px solid #dedede; width:10%; background:url(/m/images/common/bar_1x16_dcdcdc.gif) right center no-repeat;}
.bbsView thead th:last-child {background:none;}
.bbsView tbody th {font-size:16px; color:#404040; padding:10px 0; border-bottom:1px solid #dedede; width:10%; background:url(/m/images/common/bar_1x16_dcdcdc.gif) 90% center no-repeat;}
.bbsView tbody td {font-size:16px; color:#404040; padding:10px 0; border-bottom:1px solid #dedede; font-family:dotum,'돋움',"맑은 고딕","Malgun Gothic","MS PGothic","Osaka",Arial,sans-serif; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.bbsView tbody td.subject {text-align:left;}
.bbsView tbody th.adminTitle {text-align:left;}
.bbsView tbody td.bbsContent {text-align:left; background:#fff; padding:20px 10px;}
.bbsView tbody td.adminContent {text-align:left; background:#fff; padding:20px 10px;}
.bbsView tfoot td {text-align:right; padding:30px 0;}
.bbsView tfoot td a.btnList {display:inline-block; width:15%; background:#6b6b6b; color:#fff; text-align:center; line-height:1.5em; padding:5px 0; font-weight:bold;}

.bbsView.compare thead th:first-child {text-align:left; padding:0 20px;}
.bbsView.compare thead th:nth-of-type(1) {width:60%;}
.bbsView.compare thead th:nth-of-type(2) {width:20%;}
.bbsView.compare thead th:nth-of-type(3) {width:20%;}

@media only screen and (max-width:600px) {
.bbsView thead th, .bbsView tbody th, .bbsView tbody td {font-size:14px;}
.bbsView.compare thead th:first-child {padding:0 10px;}
.bbsView.compare thead th:nth-of-type(1) {width:50%;}
.bbsView.compare thead th:nth-of-type(2) {width:25%;}
.bbsView.compare thead th:nth-of-type(3) {width:25%;}
}
@media only screen and (max-width:414px) {
.bbsView thead th, .bbsView tbody th, .bbsView tbody td {font-size:12px;}
.bbsView tbody th {width:15%;}
.bbsView tbody td:nth-of-type(1) {width:25%;}
.bbsView tbody td:nth-of-type(2) {width:23%;}
.bbsView tbody td:nth-of-type(3) {width:7%;}
.bbsView tfoot td a.btnList {width:20%;}
.bbsView.compare thead th:first-child {padding-left:10px;}
}

/* 게시판쓰기 */
.bbsWrite {margin:30px 10px 0;}
.bbsWrite table {border-top:2px solid #275975;}
.bbsWrite tbody th {font-size:16px; color:#404040; padding:10px 25px; width:15%; border-bottom:1px solid #dedede; text-align:left;}
.bbsWrite tbody th span {display:inline-block;}
.bbsWrite tbody td {font-size:16px; color:#404040; padding:10px 10px; width:85%; border-bottom:1px solid #dedede; font-family:dotum,'돋움',"맑은 고딕","Malgun Gothic",Arial,sans-serif;}
.bbsWrite tbody td select {width:100%; height:28px; border:1px solid #b3b3b3; border-bottom:1px solid #e8e8e8; border-right:1px solid #e8e8e8; font-size:16px; color:#7f7f7f; font-family:dotum,'돋움',"맑은 고딕","Malgun Gothic",Arial,sans-serif; white-space:nowrap;}
.bbsWrite tbody td input[type="text"] {width:100%; height:26px; border:1px solid #b3b3b3; border-bottom:1px solid #e8e8e8; border-right:1px solid #e8e8e8; font-size:16px;}
.bbsWrite tbody td input[type="password"] {width:100%; height:26px; border:1px solid #b3b3b3; border-bottom:1px solid #e8e8e8; border-right:1px solid #e8e8e8; margin-right:5px;}
.bbsWrite tbody td input[type="file"] {width:100%; height:26px; border:1px solid #b3b3b3; border-bottom:1px solid #e8e8e8; border-right:1px solid #e8e8e8; margin-right:5px;}
.bbsWrite tbody td textarea {width:100%; min-height:100px; border:1px solid #b3b3b3; border-bottom:1px solid #e8e8e8; border-right:1px solid #e8e8e8; font-size:16px;}
.bbsWrite tbody td p {font-family:'NotoSans',나눔바른고딕,dotum; margin-bottom:5px;}
.bbsWrite tbody td.phone input, .bbsWrite tbody td.phone select {width:31%; float:left;}
.bbsWrite tbody td.phone span {display:block; float:left; width:3%; text-align:center; line-height:26px;}
.bbsWrite tbody td.email input {width:31%; float:left;}
.bbsWrite tbody td.email select {width:31%; float:right; margin-left:1%;}
.bbsWrite tbody td.email span {display:block; width:5%; float:left; text-align:center; line-height:26px;}
.bbsWrite tfoot td {text-align:center; padding:30px 0;}
.bbsWrite tfoot td a {display:inline-block; width:15%; color:#fff; text-align:center; line-height:1.5em; padding:5px 0;}
.bbsWrite tfoot td a.btnSubmit {background:#00b6c7;}
.bbsWrite tfoot td a.btnList {background:#aeaeae;}


@media only screen and (max-width:600px) {
.bbsWrite tbody th {width:17%; padding:10px 10px; font-size:15px;}
.bbsWrite tbody td {width:83%;}
.bbsWrite tbody td.email input {width:30%;}
.bbsWrite tbody td.email select {width:30%; margin-left:2.5%;}
.bbsWrite tbody td.email span {width:6%; font-size:14px;}
.bbsWrite tbody td.phone input, .bbsWrite tbody td.phone select {width:30%;}
.bbsWrite tbody td.phone span  {width:4%; font-size:14px;}
}
@media only screen and (max-width:414px) {
.bbsWrite tbody th, .bbsWrite tbody td {font-size:12px;}
.bbsWrite tbody th {padding:10px 0 10px 5px; width:5%;}
.bbsWrite tbody td {width:90%;}
.bbsWrite tbody td:nth-of-type(1) {width:25%;}
.bbsWrite tbody td:nth-of-type(2) {width:23%;}
.bbsWrite tbody td:nth-of-type(3) {width:7%;}
.bbsWrite tbody td select, .bbsWrite tbody td input[type="text"], .bbsWrite tbody td textarea {font-size:12px;}
.bbsWrite tfoot td a {width:20%;}
.bbsWrite tbody td.email select {margin-left:2%;}
}
@media only screen and (max-width:360px) {
.bbsWrite tbody th {width:7%;}
}




/* 페이징 */
.pagingWrap {position:relative; width:100%; margin:25px 0;}
.pagingWrap .paging {text-align:center;}
.pagingWrap .paging a {display:inline-block; width:40px; height:40px; vertical-align:middle; text-align:center; line-height:40px; font-family:'돋움',Dotum; font-size:11px; color:#131313; border:1px solid #dbdbdb;}
.pagingWrap .paging a.current {font-weight:bold; color:#ffffff; border-color:#494949; background:#494949;}
.pagingWrap .paging a.pagingPrev {background:url(/m/images/common/paging_prev.gif) no-repeat center center;}
.pagingWrap .paging a.pagingPrev span {display:none;}
.pagingWrap .paging a.pagingNext {background:url(/m/images/common/paging_next.gif) no-repeat center center;}
.pagingWrap .paging a.pagingNext span {display:none;}
.pagingWrap .paging a.pagingFirst {background:url(/m/images/common/paging_first.gif) no-repeat center center;}
.pagingWrap .paging a.pagingFirst span {display:none;}
.pagingWrap .paging a.pagingLast {background:url(/m/images/common/paging_last.gif) no-repeat center center;}
.pagingWrap .paging a.pagingLast span {display:none;}
.pagingWrap .btnR {position:absolute; right:0; top:0;}
@media only screen and (max-width:600px) {
.pagingWrap .paging a {width:30px; height:30px; line-height:30px; padding-top:0;}
.pagingWrap .btnR {position:inherit; width:100%; overflow:hidden; display:block; padding-bottom:15px;}
.pagingWrap .btnR a {float:right;}
}
@media only screen and (max-width:414px) {
.pagingWrap .paging a {width:20px; height:20px; line-height:20px;}
}


/* 전후사진 */
.compareTab {overflow:hidden; width:98%; margin:5% auto 3%;}
.compareTab li {float:left; margin-left:-1px;}
.compareTab li:first-child {margin:0;}
.compareTab li img {width:100%;}

.compareList {width:100%; margin:0 auto; text-align:center;}
.compareList ul {width:80%; margin:50px auto; overflow:hidden;}
.compareList li {margin-right:3%; width:31%; float:left;}
.compareList li:last-child {margin-right:0;}
.compareList li a {display:block;}
.compareList li img {width:100%;}
.compareList li span.subject {display:block; font-size:16px; line-height:2em; text-align:center; font-weight:bold; color:#525252;}

.compareView {background:#ebebeb; line-height:0;}
.compareView .titleArea {width:80%; margin:0 auto;}
.compareView .viewArea {width:100%; margin:0 auto; text-align:center;}
.compareView .viewArea ul {width:80%; margin:0 auto;}
.compareView .btnArea {width:80%; padding:10px 0; margin:0 auto;}
.compareView .btnArea ul {overflow:hidden; width:300px; margin:0 auto;}
.compareView .btnArea li {float:left; width:33%; margin:0;}
.compareView .btnArea a {float:left; display:block; width:100%;compareList padding:5px 0; background:#fff; border:1px solid #c8c8c8; margin-left:-1px; color:#555; text-align:center; font-size:14px; font-weight:bold; line-height:2em; font-size:1.5vw;}
.compareView .btnArea li.current a {color:#5286bf;}
.compareView .btnArea li:first-child a {margin-left:0;}


@media only screen and (max-width:600px) {
.compareList ul {margin:30px auto;}
.compareList li span.subject {font-size:14px;}
}
@media only screen and (max-width:600px) {
.compareList li span.subject {font-size:12px;}
}





/* 온라인상담 */
.counselArea {background:#f7f5f5;}
.counselArea h2 {text-align:center; font-size:23px; color:#3b3b3b; padding:20px 0; border-top:2px solid #3b3b3b;}
.counselArea table {width:100%;}
.counselArea tbody th {font-size:16px; color:#3b3b3b; width:25%; border:1px solid #c3c3c3; border-left:0;}
.counselArea tbody td {font-size:16px; color:#3b3b3b; width:75%; border:1px solid #c3c3c3; border-right:0; padding:15px 25px;}
.counselArea tbody td input[type="text"] {width:62%; height:30px; border:1px solid #989898; text-indent:5px;}
.counselArea tbody td select {width:62%; height:32px; border:1px solid #989898;}
.counselArea tbody td.tel input[type="text"] {width:19%; float:left;}
.counselArea tbody td.tel .bar {width:2%; float:left; display:block; height:16px; padding-top:14px; text-align:center;}
.counselArea tbody td.tel .bar img {width:70%;}
.counselArea .agreeChk {padding:25px 0; font-size:18px; color:#3b3b3b; border-bottom:1px solid #c3c3c3;}
.counselArea .agreeChk label {font-weight:bold;}
.counselArea .agreeChk a {font-size:16px; text-decoration:underline; color:#838383;}
.counselArea .btnArea {padding-bottom:20px;}
.counselArea .btnArea .btnSubmit {display:inline-block; padding:15px 0; width:50%; margin:0 auto; background:#14b1bb; color:#fff; font-size:18px; text-align:center; font-weight:bold;}

@media only screen and (max-width:600px) {
.counselArea h2 {font-size:18px;}
.counselArea tbody th {font-size:12px;}
.counselArea tbody td {font-size:12px; padding:10px 15px;}
.counselArea tbody td input[type="text"] {width:100%; font-size:12px; height:24px;}
.counselArea tbody td select {width:100%; font-size:12px; height:26px;}
.counselArea tbody td.tel input[type="text"] {width:30%;}
.counselArea tbody td.tel .bar {width:3%;}
.counselArea .agreeChk {font-size:14px;}
.counselArea .agreeChk a {font-size:12px;}
.counselArea .btnArea .btnSubmit {padding:10px 0; font-size:14px;}
}


.bbsWrite.counsel .counsel_name {display:block; margin-top:5px;}
.bbsWrite.counsel .email input, .bbsWrite.counsel .email select {width:30%;}
.bbsWrite.counsel .phone input, .bbsWrite.counsel .phone select {width:29%;}

.bbsView.counsel tbody th {width:10%;}

.bbsLogin {text-align:center; margin-top:30px;}
.bbsLogin p {margin-bottom:10px;}
.bbsLogin p img {width:auto;}

@media only screen and (max-width:600px) {
.bbsWrite.counsel .email select {float:right;}
.bbsWrite.counsel .phone input:last-child {float:right;}
}
@media only screen and (max-width:360px) {
.bbsWrite.counsel .email input, .bbsWrite.counsel .email select {width:29%;}
.bbsWrite.counsel .phone input, .bbsWrite.counsel .phone select {width:26%;}
.bbsView.counsel tbody th {width:10%;}
}


/* 온라인예약 */
.bbsWrite.reservation p {color:#333; font-weight:bold;}
.bbsWrite.reservation table {margin-top:20px;}
.bbsWrite.reservation tbody th {width:15%; padding:10px 0;}
.bbsWrite.reservation tbody th span {display:inline-block;}
.bbsWrite.reservation tbody td {width:85%;}
.bbsWrite.reservation tbody td.date select {width:32%; float:left;}
.bbsWrite.reservation tbody td.date select:nth-of-type(2) {margin:0 2%;}
.bbsWrite.reservation .email input, .bbsWrite.reservation .email select {width:30%;}
@media only screen and (max-width:600px) {
.bbsWrite.reservation .email select {float:right;}
}
@media only screen and (max-width:360px) {
.bbsWrite.reservation .email input, .bbsWrite.reservation .email select {width:29%;}
}




/* ============================= [회원] ============================= */

/* ============================= [서브페이지] ============================= */
.teamList {overflow:hidden; width:95%; margin:0 auto;}
.teamList a {float:left; width:32%; margin:0 1.3% 10px 0;}
.teamList a:nth-of-type(3n) {margin-right:0;}
